extends layout.pug 

block name 
    |Add User 

block css 
    link(href="css/add-user-style.css" rel="stylesheet")

block content 
    //- form handling  start
    form( method="POST" action="/api/users") 
        div.btns
            a.add-user-btn.btn(href="/")
                span.material-icons.icons.mi chevron_left
                span.add-user-text All Users
        div.form-head
            h2 New User 
        div.form-details Use the form below to create a new account
        .new-user
            .form-group 
                label.form-text(for="name")  Name
                input(type="hidden", name="id", value="")
                input(type="text", name="name" , value="", placeholder="Name")

            .form-group 
                label.form-text(for="Email")  Email
                input(type="text", name="email" , value="", placeholder="Email")

            .form-group 
                label.form-text(for="gender")  Gender
                .radio 
                    input(type="radio", id="gender-1", name="gender" , value="Male")
                    label.radio-label(for="gender-1")  Male

                .radio 
                    input(type="radio",  id="gender-2",name="gender" , value="Female")
                    label.radio-label(for="gender-2")  Female
                    
            .form-group 
                label.form-text(for="status")  Status
                .radio 
                    input(type="radio",  id="status-1",name="status" , value="Active")
                    label.radio-label(for="status-1")  Active

                .radio 
                    input(type="radio",  id="status-2",name="status" , value="Inactive")
                    label.radio-label(for="status-2")  Inactive

            .form-group 
                button.sbt-btn.btn(type="submit") Save